resources:
- repo: self

variables:
  BuildConfiguration: 'Debug'
  BuildPlatform: 'Any CPU'
  DotNetCore3Version: '3.x'
  DotNetCore2Version: '2.1.x'

trigger:
  batch: true
  branches:
    include:
    - 'master'
    - 'refs/tags/*'
  paths:
    exclude:
    - README.md
pr:
  branches:
    include:
    - master
  paths:
    exclude:
    - README.md

jobs:
- job: NETCoreWindows
  displayName: Build (Windows)
  pool:
    vmImage: windows-latest
  steps:
  - script: 'echo ##vso[task.setvariable variable=BuildConfiguration;]Release'
    displayName: 'Set BuildConfiguration to Release for tagged commits'
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))

  - task: UseDotNet@2
    displayName: 'Install .NET Core $(DotNetCore2Version)'
    inputs:
      version: '$(DotNetCore2Version)'

  - task: UseDotNet@2
    displayName: 'Install .NET Core $(DotNetCore3Version)'
    inputs:
      version: '$(DotNetCore3Version)'

  - task: DotNetCoreCLI@2
    displayName: 'dotnet build'
    inputs:
      arguments: '-property:"Configuration=$(BuildConfiguration)"'

  - task: DotNetCoreCLI@2
    displayName: 'dotnet test'
    inputs:
      command: test
      arguments: '--no-build -restore:false -property:VSTestNoBuild=true -property:"Configuration=$(BuildConfiguration)"'

  - task: PublishPipelineArtifact@0
    displayName: 'Publish Artifacts'
    inputs:
      artifactName: 'drop'
      targetPath: 'artifacts'
    condition: succeededOrFailed()  