<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config/>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="Local" value="D:\MSBuildProjectCreator\src\MSBuildProjectCreator\bin\Debug" />
  </packageSources>
  <packageSourceCredentials />
  <disabledPackageSources />
  <apikeys/>
</configuration>