name: CI

on:
  workflow_dispatch:
  push:
    branches: 
      - main
      - rel/*
  pull_request:
    branches: 
      - main
      - rel/*

env:
  ArtifactsDirectoryName: 'artifacts'
  BuildConfiguration: 'Debug'
  BuildPlatform: 'Any CPU'
  ContinuousIntegrationBuild: 'true'
  DotNet8Version: '8.x'
  DotNet9Version: '9.x'
  DotNet10Version: '10.x'

jobs:
  BuildAndTest:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        include:
          - os: windows-latest
            name: Windows
          - os: ubuntu-latest
            name: Linux
          - os: macos-latest
            name: MacOS
      fail-fast: false

    name: Build and Test (${{ matrix.name }})
    runs-on: ${{ matrix.os }}
  
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Install .NET ${{ env.DotNet8Version }}, ${{ env.DotNet9Version }}, and ${{ env.DotNet10Version }}
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          ${{ env.DotNet8Version }}
          ${{ env.DotNet9Version }}
          ${{ env.DotNet10Version }}

    - name: Build Solution
      run: dotnet build "/Property:Platform=${{ env.BuildPlatform }};Configuration=${{ env.BuildConfiguration }}" "/BinaryLogger:${{ env.ArtifactsDirectoryName }}/build.binlog"

    - name: Run Unit Tests (.NET Framework)
      if: ${{ matrix.name == 'Windows' }}
      run: dotnet test --no-restore --no-build --framework net472 "/Property:Platform=${{ env.BuildPlatform }};Configuration=${{ env.BuildConfiguration }}" "/BinaryLogger:${{ env.ArtifactsDirectoryName }}/test-net472.binlog"

    - name: Run Unit Tests (.NET 8)
      run: dotnet test --no-restore --no-build --framework net8.0 "/Property:Platform=${{ env.BuildPlatform }};Configuration=${{ env.BuildConfiguration }}" "/BinaryLogger:${{ env.ArtifactsDirectoryName }}/test-net8.0.binlog"
      
    - name: Run Unit Tests (.NET 9)
      run: dotnet test --no-restore --no-build --framework net9.0 "/Property:Platform=${{ env.BuildPlatform }};Configuration=${{ env.BuildConfiguration }}" "/BinaryLogger:${{ env.ArtifactsDirectoryName }}/test-net9.0.binlog"

    - name: Run Unit Tests (.NET 10)
      run: dotnet test --no-restore --no-build --framework net10.0 "/Property:Platform=${{ env.BuildPlatform }};Configuration=${{ env.BuildConfiguration }}" "/BinaryLogger:${{ env.ArtifactsDirectoryName }}/test-net10.0.binlog"

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      if: success()
      with:
        name: ${{ env.ArtifactsDirectoryName }}-${{ matrix.name }}
        path: ${{ env.ArtifactsDirectoryName }}
